:root {
    /* dark mode colors */

    /* mode colors  */

    /* --primary: #5fdd94; */
    --primary: #c26add;
    --primary-text: #352636;
    --hover-primary: #f5d3ff;
    --btn-primary: #c26add;
    --base-100: #FFf;
}

.dark-mode {
    /* --primary: #641ae6; */
    --primary: #95056e;
    --primary-text: #af87a5;
    --hover-primary: #502e5a;
    --btn-primary: #d7009d;
    --base-100: rgb(28, 13, 27);
}

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Source Code Pro', monospace; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--base-100);
    color: var(--primary-text);
}


section {
    padding: 1rem;
    max-width: 1280px;
    margin: 0 auto;
}

/* utility classes  */
.bt-0 {
    border-top: none !important;
}

.br-0 {
    border-right: none !important;
}

.bl-0 {
    border-left: none !important;
}

.bb-0 {
    border-bottom: none !important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.primary-btn {
    margin-top: 1rem;
    padding: 11px 22px;
    background: var(--btn-primary);
    cursor: pointer;
    color: var(--base-100);
    border-radius: 1rem;
    border: none;
    transition: .3s ease;
    font-size: 0.9rem;
    font-weight: bold;
}
.primary-btn:hover {
    transform: scale(1.1, 1.1);
}

#line {
	width: 30vw;
	height: 2%;
	background: var(--primary);
	position: absolute;
	border-radius: 14px;
	transform: translate(3.5vw, 5.3vw);
	transition: transform .5s ease;
    /* opacity: 0; */
}

/* tic tac toe box styles */
.tictactoi-container {
    font-family: 'Roboto', sans-serif;
    font-size: 7vw;
    font-weight: 700;
    width: 35vw;
    height: 35vw;
    position: relative;
    border-radius: 12px;
}

.box {
    border: 1px solid var(--primary);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background: var(--hover-primary)
}

/* result section style  */
.result-show {
    font-family: 'Source Code Pro', monospace;
    margin-top: 3rem;
    font-size: 1.3rem;
}

#turn {
    margin-top: 1rem;
}

/* gif style  */
.congrats {
    position: absolute;
    right: 20vw;
    top: 21vh;
}

.congrats img {
    height: 12rem;
}

.vanish {
    opacity: 0;
    transition: 1s ease;
}

@media screen and (max-width: 933px) {
    .result-show {
        font-size: 1rem;
    }
}

@media screen and (max-width: 746px) {
    .flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .result-show {
        text-align: center;
    }

    .congrats {
        position: static;
        text-align: center;
    }

    .tictactoi-container {
        font-size: 4.5rem;
        width: 56vw;
        height: 56vw;
    }
}

@media screen and (max-width: 450px) {
    .flex {
        gap: 2rem;
    }

    .tictactoi-container {
        font-size: 3.5rem;
        width: 70vw;
        height: 70vw;
    }
}

@media screen and (max-width: 350px) {
    .flex {
        gap: 0;
    }

    .tictactoi-container {
        font-size: 2.8rem;
        width: 77vw;
        height: 77vw;
    }
}